@charset "UTF-8";

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype-variations');
    font-weight: 400 700;
}

/* Static fonts for older browser support */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/static/Inter-Bold.ttf) format('truetype');
    font-weight: 700;
}